.Create-Customer{
display: flex;
justify-content: center;
flex-direction: column;
text-align: center;
}

.inputs{

margin-top:11px;

}

.forms{
    margin-left:23%;
    margin-right:23%;
}

.card-panel{
    margin-left:23%;
    margin-right:23%;
}


